{:kotoba.app/id "cloud.itonami.isic-4912", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibik2tqncwwc7gbuqu4rcjrgjlbol6vbcjjkdb7l2zxp666fqp2fu", :kotoba.app/embed-url "ipfs://bafkreibik2tqncwwc7gbuqu4rcjrgjlbol6vbcjjkdb7l2zxp666fqp2fu", :published {:archive "https://kotobase.net/ipfs/bafkreibik2tqncwwc7gbuqu4rcjrgjlbol6vbcjjkdb7l2zxp666fqp2fu", :size 72715, :put-status 201, :get-status 200, :at "2026-08-15T14:01:22.974Z"}}
